body.claro {

    background: #fff;
    color: #000;

    .sol {
        display: none;
    }

    .ln {
        background: #020202;
    }

    .subItem {
        color: #000;
        background: rgba(#000, .1);
        box-shadow: 0 .5rem 2rem rgba(#000, .2);
        border:  .1rem solid rgba(#fff, .4);
        border-right: .1rem solid rgba(#fff, .2);
        border-bottom: .1rem solid rgba(#fff, .2);
        border-radius: .5rem;
    }

    .areaAtiva {
        .subItem:hover {
            color: #007;
            background: rgba(#0ccdfd, .2);
        }
    }

    .divisor {
        background-image: linear-gradient(
        to right,
        transparent,
        #000,
        transparent);
    }

}