body.claro {

    background: #fff;
    color: #000;

    .sol {
        display: none;
    }

    .ln {
        background: #020202;
    }

    .subItem {
        color: #007;
        background: rgba(#fff, .1);
        box-shadow: 0 .5rem 2rem rgba(#fff, .2);
        border:  .1rem solid rgba(#000, .4);
        border-right: .1rem solid rgba(#000, .3);
        border-bottom: .1rem solid rgba(#000, .3);
        border-radius: .5rem;
    }

    .areaAtiva {
        .subItem:hover {
            background: rgba(#0ccdfd, .4);
        }
    }

    .divisor {
        background-image: linear-gradient(
        to right,
        transparent,
        #000,
        transparent);
    }

    .moldura {
        .foto {
            border: .3rem solid #ffbd59;
        }
    }
    .moldura-1 {
        background: rgba(#0ccdfd, .5);
    }
    .moldura-2 {
        background: rgba(#ff66c4, .5);
    }

}