body.escuro {

    background: #000;
    color: #fff;

    .lua {
        display: none;
    }

    .ln {
        background: #f2f2f2;
    }

    .subItem {
        color: #fff;
        background: rgba(#0ccdfd, .1);
        box-shadow: 0 .5rem 2rem rgba(#0ccdfd, .2);
        border: .1rem solid rgba(#000, .4);
        border-right: .1rem solid rgba(#000, .4);
        border-bottom: .1rem solid rgba(#000, .4);
        border-radius: .5rem;
    }

    .areaAtiva {
        .subItem:hover {
            color: #0ccdfd;
        }
    }

    .areaMenuMenor {
        background: rgba(#0ccdfd, .25);
        box-shadow: 0 0 1em 0.05em #0ccdfd;
        border: solid 0.05em rgba(#0ccdfd, 0.5);
        backdrop-filter: blur(.1em);
    }

    .mascara {
        filter: invert(1);
        mix-blend-mode: multiply;
    }

    .divisor {
        background-image: linear-gradient(to right,
                transparent,
                #fff,
                transparent);
    }

    .moldura {
        .foto {
            border: .3rem solid #ffbd59;
        }

    }

    .moldura-1 {
        background: rgba(#0ccdfd, 1);
        box-shadow: -0.5em -0.5em 2em .2em #0ccdfd;
    }

    .moldura-2 {
        background: rgba(#ff66c4, 1);
        box-shadow: 0.5em 1.5em 2em .2em #ff66c4;
    }

    .imgFiltro {
        filter: invert(1);
    }

    .btn {
        color: #fff;

        rect {
            stroke: #fff;
        }
    }

    .semanaDivisor {
        background-image: linear-gradient(to bottom, #fff, transparent);
    }

    .copyright {
        p {
            border: .1em solid #fff;
        }
    }

    .secao03 {
        .conteiner {
            .img:hover {
                transform: scale(1.1);
            }
        }
    }

}

body.escuro::-webkit-scrollbar {
    width: 0.5em;
    background: transparent;
}
body.escuro::-webkit-scrollbar-thumb {
    border-radius: 1em;
    background: #ffbd59;
}
body.escuro::-webkit-scrollbar-track {
    border-radius: 1em;
    background-color: transparent
}
body.escuro::-webkit-scrollbar-thumb:hover {
    background: #0ccdfd;
}