body.escuro {

    background: #000;
    color: #fff;

    .lua {
        display: none;
    }

    .ln {
        background: #f2f2f2;
    }

    .subItem {
        color: #fff;
        background: rgba(#0ccdfd, .1);
        box-shadow: 0 .5rem 2rem rgba(#0ccdfd, .2);
        border:  .1rem solid rgba(#000, .4);
        border-right: .1rem solid rgba(#000, .4);
        border-bottom: .1rem solid rgba(#000, .4);
        border-radius: .5rem;
    }

    .areaAtiva {
        .subItem:hover {
            color: #0ccdfd;
        }
    }

    .mascara {
        filter: invert(1);
        mix-blend-mode: multiply;
    }

    .divisor {
        background-image: linear-gradient(
        to right,
        transparent,
        #fff,
        transparent);
    }

    .imgFiltro {
        filter: invert(1);
    }

    .btn {
        color: #fff;

        rect {
            stroke: #fff;
        }
    }

    .semanaDivisor {
        background-image: linear-gradient(to bottom, #fff, transparent);
    }

    .copyright{
        p {
            border: .1em solid #fff;
        }
    }
}