body.escuro {

    background: #020202;
    color: #f2f2f2;


    .lua {
        display: none;
    }

    .ln {
        background: #f2f2f2;
    }

    .subItem {
        background: #f2f2f2;
        color: #000;
    }
}