@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@400&display=swap');
@import './escuro.scss';
@import './claro.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sofia Sans', sans-serif;
}

body {
    transition: ease .7s;

    .barraSuperior {
        position: fixed;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: end;
        padding: 1rem;
        transition: ease .4s;
        background: transparent;
        z-index: 10;

        .navbar {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;
        }
    }

    .tema {
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 10;
        cursor: pointer;
    }

    .menu {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        width: 1.5rem;
        height: 1rem;
        z-index: 1000;
        cursor: pointer;

        .ln {
            position: relative;
            width: 100%;
            height: .1rem;
            transition: .5s ease-in-out;
            border-radius: 1rem;
            z-index: 5;
        }
    }

    .secao {
        width: 100%;
        min-height: 100vh;
    }

    .secao01 {
        .cabecalho {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 1rem;

            .logo {
                position: absolute;
                max-width: 5em;
                top: 1%;
                left: 1%;
            }
        }
    }

    .mascara {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        user-select: none;
        mix-blend-mode: screen;
    }

    .video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -2;
    }
}

.titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    text-transform: uppercase;
    z-index: -1;
}

.tituloPag {
    z-index: 1;
}

.menu.ativo {
    transition: .5s;

    .ln1 {
        transform: rotate(-45deg) translate(-0.2rem, .2rem);
    }

    .ln2 {
        opacity: 0;
    }

    .ln3 {
        transform: rotate(45deg) translate(-0.4rem, -0.4rem);
    }
}

.areaMenu {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 0rem;
    height: 1rem;
    top: 50%;
    left: calc(50% - 15em);
    background: rgba(#000, .3);
    list-style: none;
    z-index: 1000;

    .itemMenu {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        left: 0;
        transition: 0.2s;
        transform: rotate(calc(360deg/4 * var(--i)));
        transform-origin: 15rem;
        transition-delay: calc(0.2s * var(--i));
        scale: 0;
        z-index: 1000;

        .subItem {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            font-weight: 600;
            padding: 1.5rem;
            width: 10rem;
            height: 5rem;
            transform: rotate(calc(-360deg/4 * var(--i)));
            transition: .2s;
            cursor: pointer;
            text-decoration: none;
            backdrop-filter: blur(.3rem);
            z-index: 1000;
        }
    }
}

.areaAtiva {

    .itemMenu {
        scale: 1;
    }

    .subItem:hover {
        font-size: 1.5rem;
        text-transform: uppercase;
        font-weight: 600;
    }
}

.divisor {
    position: absolute;
    width: 100%;
    height: .1rem;
    z-index: -1;
}

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: auto;
    padding: 2rem;
    height: 3rem;
    position: relative;
    border: none;
    border-radius: .3rem;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 700;
    transition: .3 ease all;
    background-color: none;
    text-decoration: none;
    z-index: 1;

    svg {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        fill: none;
    }

    rect {
        width: 100%;
        height: 100%;
        stroke-width: .3rem;
        stroke-dasharray: 500;
        stroke-dashoffset: 500;
        transition: 1s all ease-in-out;
    }
}

.btn:hover {
    rect {
        stroke-dashoffset: 0;
    }
}

.secao02 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3em 1em 3em 1em;

    .moldura {

        .foto {
            width: 20rem;
            position: absolute;
            margin-top: 2rem;
            left: 20%;
            border-radius: 1rem;
            z-index: -2;
        }
    }

    .moldura-1 {
        position: absolute;
        width: 20rem;
        height: 23rem;
        border-radius: 1rem;
        margin-top: 1rem;
        left: 19%;
        z-index: -3;
    }

    .moldura-2 {
        position: absolute;
        width: 20rem;
        height: 23rem;
        border-radius: 1rem;
        margin-top: 4rem;
        left: 22%;
        z-index: -3;
    }

    .txt {
        position: absolute;
        margin-top: 5rem;
        width: 40%;
        right: 10%;
        z-index: -1;
    }
}

.secao03 {
    display: flex;
    flex-direction: column;
    padding: 2rem 3rem;

    .atualizacao {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.8em;
        font-style: italic;
        font-weight: 600;
        z-index: -1;
    }

    .conteiner {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin: 3rem 0;

        .areaSemana {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .img {
            width: 20rem;
            height: 30rem;
            border-radius: 1rem;
            transition: .7s all;
        }

        .semanaDivisor {
            position: absolute;
            width: .2rem;
            height: 25rem;
            border-radius: 1rem;
            z-index: -1;
        }

        .textoSemana {
            width: 30rem;
            height: auto;
            margin-bottom: 2rem;
            z-index: -1;
        }

        .textoSemana {

            h2 {
                position: relative;
                top: -2rem;
                left: 0%;
                font-size: 1.5em;
            }

            h3 {
                position: relative;
                top: -1rem;
                font-size: 1.2em;
            }
        }
    }

    .conteinerImpar {
        .semanaDivisor {
            left: 45%;
        }

        .areaSemana {
            align-items: start;
        }
    }

    .conteinerPar {
        .semanaDivisor {
            left: 55%;
        }

        .areaSemana {
            align-items: end;
        }
    }
}

.secao04 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 2em 3em;
    z-index: 10;

    .box {
        margin-top: 2em;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2em;
    }

    .carta {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 15em;
        height: 20em;
        z-index: 5;
    }

    .face {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        overflow: hidden;
        transition: .5s ease-in-out all;
        border: .1em solid #000;
        border-radius: 1em;
        box-shadow: 0 0.4em 0.7em #000;
    }

    .frente {
        transform: perspective(30em) rotateY(0deg);

        img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .costa {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transform: perspective(30em) rotateY(180deg);
        padding: 1em;
        background: rgba(#007, .2);
    }

    .carta:hover {
        .frente {
            transform: perspective(30em) rotateY(180deg);
        }

        .costa {
            transform: perspective(30em) rotateY(360deg);
        }
    }
}

footer {
    display: flex;
    justify-content: space-between;
    margin: 2em 3em;

    .parte {
        display: flex;
        flex-direction: column;
    }
}

.copyright{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    padding-bottom: 1em;

    p {
        padding: .5em;
        border-radius: 1em;
    }
}
