@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif&display=swap");
body.escuro {
  background: #000;
  color: #fff;
}
body.escuro .lua {
  display: none;
}
body.escuro .ln {
  background: #f2f2f2;
}
body.escuro .subItem {
  color: #0ccdfd;
  background: rgba(12, 205, 253, 0.1);
  box-shadow: 0 0.5rem 2rem rgba(12, 205, 253, 0.2);
  border: 0.1rem solid rgba(0, 0, 0, 0.4);
  border-right: 0.1rem solid rgba(0, 0, 0, 0.2);
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
}
body.escuro .mascara {
  filter: invert(1);
  mix-blend-mode: multiply;
}
body.escuro .divisor {
  background-image: linear-gradient(to right, transparent, #fff, transparent);
}

body.claro {
  background: #fff;
  color: #000;
}
body.claro .sol {
  display: none;
}
body.claro .ln {
  background: #020202;
}
body.claro .subItem {
  color: #000;
  background: rgba(0, 0, 0, 0.1);
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2);
  border: 0.1rem solid rgba(255, 255, 255, 0.4);
  border-right: 0.1rem solid rgba(255, 255, 255, 0.2);
  border-bottom: 0.1rem solid rgba(255, 255, 255, 0.2);
  border-radius: 0.5rem;
}
body.claro .areaAtiva .subItem:hover {
  color: #007;
  background: rgba(12, 205, 253, 0.2);
}
body.claro .divisor {
  background-image: linear-gradient(to right, transparent, #000, transparent);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Serif", serif;
}

body {
  transition: ease 0.7s;
}
body .barraSuperior {
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 1rem;
  transition: ease 0.4s;
  background: transparent;
  z-index: 10;
}
body .barraSuperior .navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
body .tema {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  cursor: pointer;
}
body .menu {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 1.5rem;
  height: 1rem;
  z-index: 1000;
  cursor: pointer;
}
body .menu .ln {
  position: relative;
  width: 100%;
  height: 0.1rem;
  transition: 0.5s ease-in-out;
  border-radius: 1rem;
  z-index: 5;
}
body .secao {
  width: 100%;
  min-height: 100vh;
}
body .secao01 .cabecalho {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
body .secao01 .cabecalho .logo {
  position: absolute;
  max-width: 5em;
  top: 1%;
  left: 1%;
}
body .mascara {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  user-select: none;
  mix-blend-mode: screen;
}
body .video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.titulo {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(2);
}

.menu.ativo {
  transition: 0.5s;
}
.menu.ativo .ln1 {
  transform: rotate(-45deg) translate(-0.2rem, 0.2rem);
}
.menu.ativo .ln2 {
  opacity: 0;
}
.menu.ativo .ln3 {
  transform: rotate(45deg) translate(-0.4rem, -0.4rem);
}

.areaMenu {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 30rem;
  height: 30rem;
  top: 10%;
  left: calc(50% - 15em);
  background: transparent;
  list-style: none;
  background: transparent;
}
.areaMenu .itemMenu {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  transition: 0.2s;
  transform: rotate(calc(90deg * var(--i)));
  transform-origin: 15rem;
  transition-delay: calc(0.2s * var(--i));
  scale: 0;
}
.areaMenu .itemMenu .subItem {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 1.5rem;
  width: 10rem;
  height: 5rem;
  transform: rotate(calc(-90deg * var(--i)));
  transition: 0.2s;
  cursor: pointer;
  text-decoration: none;
  backdrop-filter: blur(0.2rem);
  z-index: 1000;
}

.areaAtiva .itemMenu {
  scale: 1;
}
.areaAtiva .subItem:hover {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 600;
}

.divisor {
  position: absolute;
  width: 100%;
  height: 0.1rem;
}

.secao02 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3em 1em 3em 1em;
}

/*# sourceMappingURL=index.css.map */
