@import url("https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alkatra&display=swap");
body.escuro {
  background: #000;
  color: #fff;
}
body.escuro .lua {
  display: none;
}
body.escuro .ln {
  background: #f2f2f2;
}
body.escuro .subItem {
  color: #fff;
  background: rgba(12, 205, 253, 0.1);
  box-shadow: 0 0.5rem 2rem rgba(12, 205, 253, 0.2);
  border: 0.1rem solid rgba(0, 0, 0, 0.4);
  border-right: 0.1rem solid rgba(0, 0, 0, 0.4);
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.4);
  border-radius: 0.5rem;
}
body.escuro .areaAtiva .subItem:hover {
  color: #0ccdfd;
}
body.escuro .mascara {
  filter: invert(1);
  mix-blend-mode: multiply;
}
body.escuro .divisor {
  background-image: linear-gradient(to right, transparent, #fff, transparent);
}
body.escuro .imgFiltro {
  filter: invert(1);
}
body.escuro .btn {
  color: #fff;
}
body.escuro .btn rect {
  stroke: #fff;
}
body.escuro .semanaDivisor {
  background-image: linear-gradient(to bottom, #fff, transparent);
}
body.escuro .copyright p {
  border: 0.1em solid #fff;
}

body.claro {
  background: #fff;
  color: #000;
}
body.claro .sol {
  display: none;
}
body.claro .ln {
  background: #020202;
}
body.claro .subItem {
  color: #007;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.4);
  border: 0.1rem solid rgba(0, 0, 0, 0.4);
  border-right: 0.1rem solid rgba(0, 0, 0, 0.3);
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
}
body.claro .areaAtiva .subItem:hover {
  background: rgba(12, 205, 253, 0.2);
}
body.claro .divisor {
  background-image: linear-gradient(to right, transparent, #000, transparent);
}
body.claro .moldura .foto {
  border: 0.3rem solid #ffbd59;
}
body.claro .moldura-1 {
  background: rgba(12, 205, 253, 0.5);
}
body.claro .moldura-2 {
  background: rgba(255, 102, 196, 0.5);
}
body.claro .btn {
  color: #000;
}
body.claro .btn rect {
  stroke: #000;
}
body.claro .semanaDivisor {
  background-image: linear-gradient(to bottom, #000, transparent);
}
body.claro .copyright p {
  border: 0.1em solid #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sofia Sans", sans-serif;
}

body {
  transition: ease 0.7s;
}
body .barraSuperior {
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 1rem;
  transition: ease 0.4s;
  background: transparent;
  z-index: 10;
}
body .barraSuperior .navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
body .tema {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  cursor: pointer;
}
body .menu {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 1.5rem;
  height: 1rem;
  z-index: 1000;
  cursor: pointer;
}
body .menu .ln {
  position: relative;
  width: 100%;
  height: 0.1rem;
  transition: 0.5s ease-in-out;
  border-radius: 1rem;
  z-index: 10;
}
body .secao {
  width: 100%;
  min-height: 100vh;
}
body .secao01 .cabecalho {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
body .secao01 .cabecalho .logo {
  position: absolute;
  max-width: 5em;
  top: 1%;
  left: 1%;
}
body .mascara {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  user-select: none;
  mix-blend-mode: screen;
  user-select: none;
}
body .video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}

.titulo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  text-transform: uppercase;
  z-index: -1;
}

.tituloPag {
  z-index: 1;
}

.menu.ativo {
  transition: 0.5s;
}
.menu.ativo .ln1 {
  transform: rotate(-45deg) translate(-0.2rem, 0.2rem);
}
.menu.ativo .ln2 {
  opacity: 0;
}
.menu.ativo .ln3 {
  transform: rotate(45deg) translate(-0.4rem, -0.4rem);
}

.areaMenu {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 0rem;
  height: 0rem;
  top: 50%;
  left: calc(50% - 15em);
  background: rgba(0, 0, 0, 0.3);
  list-style: none;
  z-index: 1000;
}
.areaMenu .itemMenu {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  transition: 0.2s;
  transform: rotate(calc(90deg * var(--i)));
  transform-origin: 15rem;
  transition-delay: calc(0.2s * var(--i));
  scale: 0;
}
.areaMenu .itemMenu .subItem {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-weight: 600;
  padding: 1.5rem;
  width: 10rem;
  height: 5rem;
  transform: rotate(calc(-90deg * var(--i)));
  transition: 0.2s;
  cursor: pointer;
  text-decoration: none;
  backdrop-filter: blur(0.3rem);
}

.areaAtiva .itemMenu {
  scale: 1;
}
.areaAtiva .subItem:hover {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 600;
}

.divisor {
  position: absolute;
  width: 100%;
  height: 0.1rem;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: auto;
  padding: 2rem;
  height: 3rem;
  position: relative;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 700;
  transition: 0.3 ease all;
  background-color: none;
  text-decoration: none;
  z-index: 1;
}
.btn svg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  fill: none;
}
.btn rect {
  width: 100%;
  height: 100%;
  stroke-width: 0.3rem;
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  transition: 1s all ease-in-out;
}

.btn:hover rect {
  stroke-dashoffset: 0;
}

.secao02 {
  display: flex;
  flex-direction: column;
  padding: 3em 1em 3em 1em;
}
.secao02 .titulo {
  margin-bottom: 2em;
}
.secao02 .bloco {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.secao02 .bloco .moldura .foto {
  position: relative;
  width: 20rem;
  border-radius: 1rem;
}
.secao02 .bloco .moldura .moldura-1 {
  position: absolute;
  width: 20rem;
  height: 23rem;
  border-radius: 1rem;
  margin: -1em -1em;
  transform: translate(-2em, -2em);
}
.secao02 .bloco .moldura .moldura-2 {
  position: absolute;
  width: 20rem;
  height: 23rem;
  border-radius: 1rem;
  margin: 1em 1em;
  transform: translate(2em, 2em);
}
.secao02 .bloco .txt {
  position: relative;
  width: 40%;
}

.secao03 {
  display: flex;
  flex-direction: column;
  padding: 2rem 3rem;
}
.secao03 .atualizacao {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8em;
  font-style: italic;
  font-weight: 600;
  z-index: -1;
}
.secao03 .conteiner {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 3rem 0;
}
.secao03 .conteiner .areaSemana {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.secao03 .conteiner .img {
  width: 20rem;
  height: 30rem;
  border-radius: 1rem;
  transition: 0.7s all;
}
.secao03 .conteiner .semanaDivisor {
  position: absolute;
  width: 0.2rem;
  height: 25rem;
  border-radius: 1rem;
  z-index: -1;
}
.secao03 .conteiner .textoSemana {
  width: 30rem;
  height: auto;
  margin-bottom: 2rem;
  z-index: -1;
}
.secao03 .conteiner .textoSemana h2 {
  position: relative;
  top: -2rem;
  left: 0%;
  font-size: 1.5em;
}
.secao03 .conteiner .textoSemana h3 {
  position: relative;
  top: -1rem;
  font-size: 1.2em;
}
.secao03 .conteinerImpar .semanaDivisor {
  left: 45%;
}
.secao03 .conteinerImpar .areaSemana {
  align-items: start;
}
.secao03 .conteinerPar .imgTelaP {
  display: none;
}
.secao03 .conteinerPar .semanaDivisor {
  left: 55%;
}
.secao03 .conteinerPar .areaSemana {
  align-items: end;
}

.secao04 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  padding: 2em 3em;
  z-index: 10;
}
.secao04 .box {
  margin-top: 2em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2em;
}
.secao04 .carta {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15em;
  height: 20em;
  z-index: 5;
}
.secao04 .face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  overflow: hidden;
  transition: 0.5s ease-in-out all;
  border: 0.1em solid #000;
  border-radius: 1em;
  box-shadow: 0 0.4em 0.7em #000;
}
.secao04 .frente {
  transform: perspective(30em) rotateY(0deg);
}
.secao04 .frente img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.secao04 .costa {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: perspective(30em) rotateY(180deg);
  padding: 1em;
  background: rgba(0, 0, 119, 0.2);
}
.secao04 .carta:hover .frente {
  transform: perspective(30em) rotateY(180deg);
}
.secao04 .carta:hover .costa {
  transform: perspective(30em) rotateY(360deg);
}

footer {
  display: flex;
  justify-content: space-between;
  margin: 2em 3em;
}
footer .parte {
  display: flex;
  flex-direction: column;
}

.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 1em;
}
.copyright p {
  padding: 0.5em;
  border-radius: 1em;
}

@media (min-width: 320px) and (max-width: 425px) {
  * {
    font-family: "Alkatra", cursive;
  }
  .secao {
    width: 100%;
    min-height: 100vh;
    font-size: 0.8em;
  }
  .secao01 {
    width: 100%;
    height: 100vh;
  }
  .secao01 .cabecalho .logo {
    width: 3em;
  }
  .tituloPag {
    width: 100%;
    height: 95vh;
    align-items: end;
    z-index: 1;
  }
  .titulo {
    font-size: 1em;
  }
  .areaMenu {
    display: none;
  }
  .areaMenu .itemMenu {
    display: none;
  }
  .areaMenu .itemMenu .subItem {
    display: none;
  }
  .btn {
    padding: 1rem;
    height: 2rem;
    border-radius: 0.3rem;
    font-size: 1.1em;
    font-weight: 500;
  }
  .divisor {
    display: none;
  }
  .secao02 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.5em 0.4em;
  }
  .secao02 .titulo {
    margin-bottom: 1.2em;
  }
  .secao02 .bloco {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    overflow: hidden;
    background: red;
  }
  .secao02 .bloco .moldura {
    margin-bottom: 1.5em;
  }
  .secao02 .bloco .moldura .foto {
    width: 13em;
    border-radius: 1rem;
  }
  .secao02 .bloco .moldura .moldura-1 {
    width: 13em;
    height: 13em;
    margin: -0.5em -0.5em;
    transform: translate(-0.5em, -0.5em);
  }
  .secao02 .bloco .moldura .moldura-2 {
    width: 13em;
    height: 13em;
    margin: 2.5em 0.5em;
    transform: translate(0.5em, 0.5em);
  }
  .secao02 .bloco .txt {
    position: relative;
    width: 90%;
  }
  .secao03 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
  }
  .secao03 .atualizacao {
    font-weight: 500;
  }
  .secao03 .conteiner {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.5em 0;
  }
  .secao03 .conteiner .areaSemana {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .secao03 .conteiner .img {
    width: 15rem;
    height: auto;
    margin: 2em 0;
  }
  .secao03 .conteiner .semanaDivisor {
    display: none;
  }
  .secao03 .conteiner .textoSemana {
    width: 90%;
    height: auto;
    margin-bottom: 2rem;
    z-index: -1;
  }
  .secao03 .conteiner .textoSemana h2 {
    font-size: 1.2em;
  }
  .secao03 .conteiner .textoSemana h3 {
    font-size: 1em;
  }
  .secao03 .conteinerImpar .semanaDivisor {
    left: 0%;
  }
  .secao03 .conteinerImpar .areaSemana {
    align-items: center;
  }
  .secao03 .conteinerPar .imgFiltro {
    display: none;
  }
  .secao03 .conteinerPar .imgTelaP {
    display: inline;
  }
  .secao03 .conteinerPar .semanaDivisor {
    left: 0%;
  }
  .secao03 .conteinerPar .areaSemana {
    align-items: center;
  }
  .secao04 {
    padding: 1em 1.5em;
  }
  .secao04 .box {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    gap: 2em;
  }
  footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1em 1.5em;
    gap: 1em;
    font-size: 0.7em;
  }
}

/*# sourceMappingURL=index.css.map */
