@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@400&display=swap");
body.escuro {
  background: #000;
  color: #fff;
}
body.escuro .lua {
  display: none;
}
body.escuro .ln {
  background: #f2f2f2;
}
body.escuro .subItem {
  color: #fff;
  background: rgba(12, 205, 253, 0.1);
  box-shadow: 0 0.5rem 2rem rgba(12, 205, 253, 0.2);
  border: 0.1rem solid rgba(0, 0, 0, 0.4);
  border-right: 0.1rem solid rgba(0, 0, 0, 0.4);
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.4);
  border-radius: 0.5rem;
}
body.escuro .areaAtiva .subItem:hover {
  color: #0ccdfd;
}
body.escuro .mascara {
  filter: invert(1);
  mix-blend-mode: multiply;
}
body.escuro .divisor {
  background-image: linear-gradient(to right, transparent, #fff, transparent);
}
body.escuro .imgEscuro {
  border: 0.1rem solid #fff;
}
body.escuro .imgClaro {
  display: none;
}
body.escuro .btn {
  color: #fff;
}
body.escuro .btn rect {
  stroke: #fff;
}
body.escuro .semanaDivisor {
  background-image: linear-gradient(to bottom, #fff, transparent);
}

body.claro {
  background: #fff;
  color: #000;
}
body.claro .sol {
  display: none;
}
body.claro .ln {
  background: #020202;
}
body.claro .subItem {
  color: #007;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0.5rem 2rem rgba(255, 255, 255, 0.2);
  border: 0.1rem solid rgba(0, 0, 0, 0.4);
  border-right: 0.1rem solid rgba(0, 0, 0, 0.3);
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
}
body.claro .areaAtiva .subItem:hover {
  background: rgba(12, 205, 253, 0.4);
}
body.claro .divisor {
  background-image: linear-gradient(to right, transparent, #000, transparent);
}
body.claro .moldura .foto {
  border: 0.3rem solid #ffbd59;
}
body.claro .moldura-1 {
  background: rgba(12, 205, 253, 0.5);
}
body.claro .moldura-2 {
  background: rgba(255, 102, 196, 0.5);
}
body.claro .imgClaro {
  border: 0.1rem solid #000;
}
body.claro .imgEscuro {
  display: none;
}
body.claro .btn {
  color: #000;
}
body.claro .btn rect {
  stroke: #000;
}
body.claro .semanaDivisor {
  background-image: linear-gradient(to bottom, #000, transparent);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sofia Sans", sans-serif;
}

body {
  transition: ease 0.7s;
}
body .barraSuperior {
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 1rem;
  transition: ease 0.4s;
  background: transparent;
  z-index: 10;
}
body .barraSuperior .navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
body .tema {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  cursor: pointer;
}
body .menu {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 1.5rem;
  height: 1rem;
  z-index: 1000;
  cursor: pointer;
}
body .menu .ln {
  position: relative;
  width: 100%;
  height: 0.1rem;
  transition: 0.5s ease-in-out;
  border-radius: 1rem;
  z-index: 5;
}
body .secao {
  width: 100%;
  min-height: 100vh;
}
body .secao01 .cabecalho {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
body .secao01 .cabecalho .logo {
  position: absolute;
  max-width: 5em;
  top: 1%;
  left: 1%;
}
body .mascara {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  user-select: none;
  mix-blend-mode: screen;
}
body .video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}

.titulo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  z-index: -1;
}

.tituloPag {
  z-index: 1;
}

.menu.ativo {
  transition: 0.5s;
}
.menu.ativo .ln1 {
  transform: rotate(-45deg) translate(-0.2rem, 0.2rem);
}
.menu.ativo .ln2 {
  opacity: 0;
}
.menu.ativo .ln3 {
  transform: rotate(45deg) translate(-0.4rem, -0.4rem);
}

.areaMenu {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 30rem;
  height: 30rem;
  top: 10%;
  left: calc(50% - 15em);
  background: transparent;
  list-style: none;
  background: transparent;
}
.areaMenu .itemMenu {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  transition: 0.2s;
  transform: rotate(calc(90deg * var(--i)));
  transform-origin: 15rem;
  transition-delay: calc(0.2s * var(--i));
  scale: 0;
}
.areaMenu .itemMenu .subItem {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-weight: 600;
  padding: 1.5rem;
  width: 10rem;
  height: 5rem;
  transform: rotate(calc(-90deg * var(--i)));
  transition: 0.2s;
  cursor: pointer;
  text-decoration: none;
  backdrop-filter: blur(0.3rem);
  z-index: 1000;
}

.areaAtiva .itemMenu {
  scale: 1;
}
.areaAtiva .subItem:hover {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 600;
}

.divisor {
  position: absolute;
  width: 100%;
  height: 0.1rem;
  z-index: -1;
}

.secao02 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3em 1em 3em 1em;
}
.secao02 .moldura .foto {
  width: 20rem;
  position: absolute;
  margin-top: 2rem;
  left: 20%;
  border-radius: 1rem;
  z-index: -2;
}
.secao02 .moldura-1 {
  position: absolute;
  width: 20rem;
  height: 23rem;
  border-radius: 1rem;
  margin-top: 1rem;
  left: 19%;
  z-index: -3;
}
.secao02 .moldura-2 {
  position: absolute;
  width: 20rem;
  height: 23rem;
  border-radius: 1rem;
  margin-top: 4rem;
  left: 22%;
  z-index: -3;
}
.secao02 .txt {
  position: absolute;
  margin-top: 5rem;
  width: 40%;
  right: 10%;
  z-index: -1;
}

.secao03 {
  display: flex;
  flex-direction: column;
  padding: 2rem 3rem;
}
.secao03 .titulo {
  margin-bottom: 2rem;
}
.secao03 .conteiner {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.secao03 .conteiner .img {
  width: 20rem;
  height: 30rem;
  border-radius: 1rem;
}
.secao03 .conteinerImpar .semanaDivisor {
  position: absolute;
  width: 0.2rem;
  height: 25rem;
  left: 45%;
  border-radius: 0.1rem;
}
.secao03 .conteinerImpar .textoSemana {
  width: 30rem;
  height: 20rem;
}
.secao03 .conteinerImpar .textoSemana h2 {
  position: relative;
  top: -2rem;
  right: 2rem;
  font-size: 1.5em;
}
.secao03 .conteinerImpar .textoSemana h3 {
  position: relative;
  top: -1rem;
  font-size: 1.2em;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: auto;
  padding: 2rem;
  height: 3rem;
  position: relative;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 700;
  transition: 0.3 ease all;
  background-color: none;
  margin-top: 2rem;
  text-decoration: none;
  z-index: 1;
}
.btn svg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  fill: none;
}
.btn rect {
  width: 100%;
  height: 100%;
  stroke-width: 0.3rem;
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  transition: 1s all ease-in-out;
}

.btn:hover rect {
  stroke-dashoffset: 0;
}

/*# sourceMappingURL=index.css.map */
